@import 'susy';
@import 'compass/reset';
@import 'compass/typography/vertical_rhythm';
@import 'compass/css3/border-radius';
@import 'compass/css3/box-shadow';
@import 'compass/css3/text-shadow';

$font-color: #444;
$highlight-color: #b3d4fc; // pale blue
$primary_color: #dbe3f9;
$secondary_color: #febe89;
$tertiary_color: #d8f6b5;
$frame_color: #aaa;
$link_color: darken($primary_color, 30%);
$link_hover_color: darken($secondary_color, 30%);


$base-font-size: 16px;
$base-line-height: 24px;
$relative-font-sizing: true;

/*
* HTML5 Boilerplate
*
* What follows is the result of much research on cross-browser styling.
* Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
* Kroc Camen, and the H5BP dev community and team.
*/

/* ==========================================================================
 Base styles: opinionated defaults
 ========================================================================== */

@include global-reset;

html,
button,
input,
select,
textarea {
color: $font-color;
}

/*
* Remove text-shadow in selection highlight: h5bp.com/i
* These selection declarations have to be separate.
* Customize the background color to match your design.
*/

::-moz-selection {
background: $highlight-color;
text-shadow: none;
}

::selection {
background: $highlight-color;
text-shadow: none;
}

/*
* Remove the gap between images and the bottom of their containers: h5bp.com/i/440
*/

img {
  vertical-align: middle;
}

/*
* Allow only vertical resizing of textareas.
*/

textarea {
  resize: vertical;
}

/* ==========================================================================
 Chrome Frame prompt
 ========================================================================== */

.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
 Typography
 ========================================================================== */

// Web fonts from http://www.google.com/fonts#UsePlace:use/Collection:Rokkitt:400,700|Raleway:600

@mixin body_font {
  font-family: 'Rokkitt', 'Georgia', 'serif';
}

@mixin heading_font {
  font-family: 'Raleway', 'Helvetica', 'Helvetica Neue', 'Arial', sans-serif;
}

body {
  @include body_font;
}

h1, h2, h3 {
  @include heading_font;
}

h1 {
  @include adjust-font-size-to(32px);
  @include margin-trailer(0);
  font-weight: bold;
}

h2 {
  @include adjust-font-size-to(25px);
  @include margin-trailer(0);
  font-weight: bold;
}

h3 {
  @include adjust-font-size-to(20px);
  @include margin-trailer(0);
  font-weight: bold;
}

h4 {
  @include adjust-font-size-to(16px);
  @include margin-trailer(0);
  font-weight: bold;
}

ul, ol, p {
  @include margin-trailer(1);
}

li {
  @include margin-trailer(1);
}

strong {
  font-weight: bold;
}

a {
  border-bottom: 1px solid;
  text-decoration: none;
}

a:link, a:visited {
  color: $link_color;
}

a:hover {
  color: $link_hover_color;
}


/* ==========================================================================
 Grid & page structure
 ========================================================================== */

$total-columns: 12;
$column-width: 4em;
$gutter-width: 1.5em;
$grid-padding: $gutter-width;
$border-radius: 3px;

@include establish-baseline;

#primary_header, #splash, #primary_content, #secondary_content, #primary_footer {
  @include container;
  border-left: 1px solid $frame_color;
  border-right: 1px solid $frame_color;
  @include at-breakpoint(50em 12) {
    @include container;
  }
}

body {
  background: url(/img/layout/fresh_snow.jpg);
}

#primary_header {
  @include background-image(linear-gradient(#444858 60%, darken(#444858, 5%) 95%));
  color: #fff;
  border-top: 4px solid $link_hover_color;
  h1 {
    @include adjust-font-size-to(32px);
    text-shadow: 2px 2px 0px #222;
  }
  h2 {
    @include adjust-font-size-to(16px);
    @include body-font;
    text-shadow: 1px 1px 0px #222;
    font-weight: normal;
  }
}

#primary_navigation {
  @include heading-font;
  padding-left: 0;
  padding-right: 0;
  ul {
    @include margin-leader(0.5);
    @include margin-trailer(0);
    display: table;
    width: 100%;
    li {
      width: 25%;
      margin-bottom: 0;
      text-align: center;
      display: table-cell;
      vertical-align: middle;
      a {
        display: block;
        border-bottom: none;
        text-shadow: 1px 1px 0 #333;
        @include padding-leader(0.5);
        @include padding-trailer(0.5);
      }
      a:link, a:visited {
        color: lighten($link_color, 22%);
      }
      a:hover {
        color: $link_hover_color;
      }
      .index &.index,
      .background &.background,
      .new_clients &.new_clients,
      .contact &.contact {
        a {
          color: #fff;
          cursor: default;
        }
      }
    }
  }
}

#primary_content {
  border-top: 1px solid $frame_color;
  background-color: #fff;
  @include padding-leader(0.5);
}

#primary_footer {
  border-top: 1px solid $frame_color;
  border-bottom: 1px solid $frame_color;
  @include padding-leader(1);
  color: #888;
  background-color: lighten($secondary_color, 20%);
  text-align: center;
  a, a:link, a:visited {
    color: lighten($link_color, 15%);
  }
  a:hover {
    color: $link_hover_color;
  }
}

/* ==========================================================================
 Custom
 ========================================================================== */

#splash {
  text-align: center;
  @include padding-leader(1);
  @include padding-trailer(1);
  background-color: $primary_color;
  border-top: 1px solid $frame_color;
  @include single-box-shadow(rgba(0,0,0, 0.07), 0, 0, 13px, 6px, inset);
  iframe {
    border: 1px solid $font-color;
    margin: 0 auto;
  }
}

body.index #primary_content {
  #teasers {
    .teaser {
      @include span-columns(6);
      @include nth-omega(2n);
    }
  }
}

body.background #primary_content {
  .column {
    @include span-columns(6);
    @include nth-omega(2n);
  }

  li {
    margin-bottom: 0;
  }
}

body.contact #primary_content {
  .address, .email {
    @include span-columns(6);
    @include nth-omega(2n);
  }
  li {
    margin-bottom: 0;
  }
}

/* ==========================================================================
 Helper classes
 ========================================================================== */

form {
  @include margin-trailer(1);
  @include span-columns(6);

  label {
    display: block;
    width: 100%;
  }

  input, select, textarea {
    display: block;
    width: 100%;
  }

  textarea {
    height: $base-line-height * 6;
  }
}


/* ==========================================================================
 Helper classes
 ========================================================================== */

/*
* Image replacement
*/

.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  /* IE 6/7 fallback */
  *text-indent: -9999px;
}

.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 100%;
}

/*
* Hide from both screenreaders and browsers: h5bp.com/u
*/

.hidden {
  display: none !important;
  visibility: hidden;
}

/*
* Hide only visually, but have it available for screenreaders: h5bp.com/v
*/

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/*
* Extends the .visuallyhidden class to allow the element to be focusable
* when navigated to via the keyboard: h5bp.com/p
*/

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/*
* Hide visually and from screenreaders, but maintain layout
*/

.invisible {
  visibility: hidden;
}

/*
* Clearfix: contain floats
*
* For modern browsers
* 1. The space content is one way to avoid an Opera bug when the
*    `contenteditable` attribute is included anywhere else in the document.
*    Otherwise it causes space to appear at the top and bottom of elements
*    that receive the `clearfix` class.
* 2. The use of `table` rather than `block` is only necessary if using
*    `:before` to contain the top-margins of child elements.
*/

.clearfix:before,
.clearfix:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

.clearfix:after {
  clear: both;
}

/*
* For IE 6/7 only
* Include this rule to trigger hasLayout and contain floats.
*/

.clearfix {
  *zoom: 1;
}

/* ==========================================================================
 EXAMPLE Media Queries for Responsive Design.
 Theses examples override the primary ('mobile first') styles.
 Modify as content requires.
 ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
     only screen and (min-resolution: 144dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
 Print styles.
 Inlined to avoid required HTTP connection: h5bp.com/r
 ========================================================================== */

@media print {
  * {
      background: transparent !important;
      color: #000 !important; /* Black prints faster: h5bp.com/s */
      box-shadow:none !important;
      text-shadow: none !important;
  }

  a,
  a:visited {
      text-decoration: underline;
  }

  a[href]:after {
      content: " (" attr(href) ")";
  }

  abbr[title]:after {
      content: " (" attr(title) ")";
  }

  /*
   * Don't show links for images, or javascript/internal links
   */

  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
      content: "";
  }

  pre,
  blockquote {
      border: 1px solid #999;
      page-break-inside: avoid;
  }

  thead {
      display: table-header-group; /* h5bp.com/t */
  }

  tr,
  img {
      page-break-inside: avoid;
  }

  img {
      max-width: 100% !important;
  }

  @page {
      margin: 0.5cm;
  }

  p,
  h2,
  h3 {
      orphans: 3;
      widows: 3;
  }

  h2,
  h3 {
      page-break-after: avoid;
  }
}
