---
title: Marc Hess' background and training
description: Background and training of Marc Hess, a licensed therapist in Portland, Oregon.
---

%h2 Education
%ul
  %li B.A., Psychology, 1972, Temple University
  %li M.S.W., 1995, Portland State University. Graduate School of Social Work

%h2 Training
%ul
  %li EMDR Levels I and II
  %li Numerous Trainings in Couples Therapy, including Gottman Method Couples Therapy and Collaborative Couples Therapy
  %li 30 years training (25 years teaching) Aikido with Mind and Body Coordination:  relaxation, concentration, meditation, leadership.  5th degree black belt and associate Ki Lecturer, Ki Society International 

%h2 Work Experience
%ul
  %li Private Practice, individual, couples and group counseling since 1998.
  %li 38 years work in social services. 
  %li 1995-2005, created and directed the Multnomah County Family Treatment and Violence Intervention Program. Experience supervising interns and candidates for licensing in social work and counseling. 
  %li 2005-2008, Allies in Change -  Men’s Abuse Intervention Group Facilitator.  Conducted Domestic Violence Assessments

%h2 Professional Affiliations
%ul
  %li National Association of Social Workers
  %li American Mental Health Alliance - Oregon, Former President, Board of Directors
  %li Oregon Ki Society
