---
title: Marc Hess, Licensed therapist in Portland, Oregon
description: Marc Hess is a licensed therapist in Portland, Oregon, who practices counseling for individuals, couples, anger management, and domestic violence. He also practices eye movement desensitization and reprocessing (EMDR) for trauma resolution. He helps his clients tackle their problems in a supportive, informal and goal-focused atmosphere.
---

- content_for :splash do
  %iframe{:width => 640, :height => 360, :src => "//www.youtube-nocookie.com/embed/FVxKyOGCHb8?rel=0", :frameborder => 0, :allowfullscreen => 'allowfullscreen'}

#teasers
  .teaser
    %h2 My approach to counseling
    %p As your counselor, I welcome you and will establish an atmosphere of acceptance, safety, and honesty. I combine respect, humor, and &#8220;courageous inquisitiveness&#8221; to support you, help you stand up to what's holding you back and sustain positive changes.
    %p I support setting clear, attainable goals, utilizing creativity, personal strengths, courage, and humor to overcome obstacles. I will help you cultivate being more fully present in each daily moment, to reflect clearly and respond effectively and compassionately to whatever challenges occur in your life.
    %p My ability to be humorous, patient, relaxed, focused and confident helps my clients tackle their problems in a supportive, informal, but goal-focused and challenging atmosphere.
  

  .teaser
    %h2 Counseling practice areas

    %h3 Individual counseling
    %p Get help with anxiety, depression, stress, panic, anger management, trauma.

    %h3 Couples counseling
    %p Move from an emotionally disengaged or adversarial relationship to seeing your partner as a collaborator and confidante.

    %h3 Anger management
    %p Learn to calm your mind, observe and attend to your emerging emotions, rather than being ruled by them.

    %h3 Domestic violence
    %p XXX needs some text here XXX

    %h3 Group counseling
    %p Men's issues, and a mindfulness approach to managing anger and other strong emotions, are frequently best resolved in group counseling settings.

    %h3 Eye movement desensitization and reprocessing (EMDR)
    %p EMDR is a technique for the resolution of self-limiting beliefs and suffering resulting from trauma.
